<!-- button-navigation.component.html -->

<div class="button-container">
    <button (click)="navigateTo('bloc')" class="button-bloc">Bloc</button>
    <button (click)="navigateTo('etudiant')" class="button-etudiant">Etudiant</button>
    <button (click)="navigateTo('foyer')" class="button-foyer">Foyer</button>
    <button (click)="navigateTo('universite')" class="button-universite">Université</button>
    <button (click)="navigateTo('chambre')" class="button-chambre">Chambre</button>
  </div>
  